
/* .whole-wrapper {
    background-color: rgb(47, 47, 47);
} */

.op-err-wrapper {
    display: flex;
    gap: 1rem;
}

.op-wrapper {
    display: flex;
    padding: 5px;
    flex-direction: column;
    width: 50%;
    height: 8rem;
    border-radius: 10px;
    background-color: rgb(47, 47, 47);
    color: white;
}
.err-wrapper {
    display: flex;
    padding: 5px;
    flex-direction: column;
    width: 50%;
    height: 8rem;
    border-radius: 10px;
    background-color: rgb(47, 47, 47);
    color: red;

}
.editor-header{
    display: flex;
    gap: 1rem;
}
.lang-select-box{
    display: flex;
    padding: 5px;
    flex-direction: column;
    width: 10%;
    /* height: 8rem; */
    border-radius: 10px;
    /* background-color: rgb(47, 47, 47);
    color: white; */
}
.divider {
    display: flex;
    width: 100%;
    margin: 1rem 0;
}
.menu-drawer{
    display: flex;
    padding: 5px;
    flex-direction: column;
    width: 40%;
    height: 8rem;
    border-radius: 10px;

}

.compile-btn {
    margin-bottom: 1em;
    margin-top: 0.5em;
    width: 20%;
    height: 2rem;
    border-radius: 5px;
    background-color: rgb(47, 47, 47);
    color: white;
    cursor: pointer;
}

.editor-footer {
    font-family: 'Roboto Mono', monospace;
}

.logo-img-wrapper {
    background-color: rgb(25, 21, 248);
    border-radius: 5px;
    opacity: 0.6;
}